node_modules/
.env
frontend_react/.env

__pycache__/
*.pyc
*.pyo

audio.mp3
audio.wav
audio_trans_temp.wav
audio.json
momentos_virales.json
transcripcion.txt
transcripcion_formatted.txt
whisper_words.json

clips/
clips_editados/
gaming_procesado/

.env